
------------------------------------------------

"din-condensed-web" Regular (400)
"ff-tisa-web-pro" Regular (400) Bold (700)
  
black #424039
brown #7C5531
green #47746F
blue  #4F799E
pink  #A04E6C
                        */

/* $reset
--------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }
/* HTML5 display-role reset for older browsers */

body {
  line-height: 1;
  }
ol, ul {
  list-style: none;
  }
blockquote, q {
  quotes: none;
  }
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
  }
table {
  border-collapse: collapse;
  border-spacing: 0;
  }

/* $global
--------------------------------------------- */
body {  
  font-family: "minion-pro", Georgia, Times, serif;
  background: url('../img/bag.png') repeat;

  }
/* body::-webkit-scrollbar { width: 0 !important } */
em {
  font-style: italic;
  }
strong {
  font-weight: 700;
  }
img,
embed,
object,
video {
  max-width: 100%;
  }
a {
  outline: none;
  }
a:link,
a:visited {
  text-decoration: none;
  color: #000;
  }
a:hover {
  color: #777;
  }
p {
  margin-bottom: 20px;
  }
h1 {
  font-family:"proxima-nova";
  font-weight:800;
  font-size: 42px;
  line-height: 56px;
  padding-bottom:25px;
  }
h2 {
  font-size: 36px;
  line-height: 44px;
  }
h3 {
  font-size:9pt;
  text-transform: uppercase;
  font-family:"proxima-nova";
  font-weight:800;
  line-height: 40px;
  }
h4 {
  font-size: 27px;
  line-height: 35px;
  }
h5 {
  font-size: 24px;
  line-height: 32px;
  }
h6 {
  font-size: 18px;
  line-height: 26px;
  }

::-moz-selection {
  background: #333;
  color: #E5E5E5;
  }
*:focus {
  outline: none
  }
.clear:before,
.clear:after {
    content: "";
    display: table;
  }
.clear:after {
    clear: both;
  }
.clear {
    zoom:1;
  }
::-webkit-input-placeholder {}
:-moz-placeholder {}
input[type=text],
input[type=submit] {
  -webkit-appearance: none;
  }

  
/* CCL Theme Specific */

.test {
  width: 100%;
  height: 300px;
  background: url(..img/2-kraj.jpg) repeat;
  
}

.register a{
  width:50px;
  height:165px;
  background:url(../img/register.png);
  position:fixed;
  left:0;
  top:290px;
  text-indent:-9999px;
  cursor:pointer;
  z-index:9999;
  margin-left:-5px;
}

.register a:hover{
  margin-left:0px;
}

.header-image {
  position:absolute;
  top:0;
  bottom:0;
  max-height:811px;
  overflow:hidden;
  left:0;
  right:0;
  z-index:-9999;
  border:0px;
  width: 100%;
 
/*  position:fixed; */
}

.header-image2 {
 
 background: url('../img/bag.png') repeat;

  max-height:711px;
  overflow:hidden;
  left:0;
  right:0;
z-index:999999;
  border:10px;
  width: 100%;
 
/*  position:fixed; */
}

.promo {
  padding-top: 30px;
}

.promo p {
  padding-left:0;
  margin-left: 0;
  text-align: justify;

}



.full-wrap {
 position:absolute;
  top:0;
  bottom:0;
  max-height:811px;
  left:0;
  right:0;
  border:0px;
  width: 100%;
z-index: -1;
background-image: url(../img/dot-pattern.png);
}

.header {
  padding-top:50px;
  margin-top:-10px;
  width:712px;
}

.header .navigation{
  list-style-type: none;
/*  position:fixed; */
  z-index:999;
  margin: 0 auto;
}

.header .navigation-centered{
  width:712px;
  margin:0 auto;
}

.header .navigation li{
  float:left;
  width:178px;
  text-align:center;
  font-size:11pt;
  text-transform: uppercase;
  font-family:"proxima-nova";
  font-weight:800;
  letter-spacing: 2px;
  padding:20px 0;
}

.header .navigation-wrapper {
  position:absolute;
  margin:0 auto;
  width:100%;
  left:0;
  right:0;
  height:55px;
  z-index:99999;
}

.logo a, .logo_alt a{
  position:fixed;
  left:100px;
  width:160px;
  height:160px;
  text-indent:-9999px;
  cursor:pointer;
  margin-top:30px;

}

.proxima{
  font-family:"proxima-nova";
}

.logo a{
  background:url(../img/swiss-logo.jpg);
}

.logo_alt a{
  background:url(../img/swiss-logo.jpg);
  opacity:0;
}

.content{
  margin-top:300px;
  background: url('../img/bag.png') repeat;
  padding: 75px 50px;
  font-size:16pt;
  line-height:22pt;
  letter-spacing:1px;
  text-align: justify;
}

.content2{
  margin-top:30px;
  background: url('../img/bag2.png') repeat;
  padding: 75px 50px;
  font-size:16pt;
  line-height:22pt;
  letter-spacing:1px;
  text-align: center;
}

.content3 {
  margin-top:30px;
  background: url('../img/bag3.png') repeat;
  padding: 75px 50px;
  font-size:14pt;
  line-height:22pt;
  letter-spacing:1px;
  text-align: center;
}

.content3 p, .content2 p {
  text-align: justify;
  padding-top: 30px;
  }


.span4 .ramka {
  position: relative;
  left: -60px;
}

.span4 .ramka:hover {
-webkit-transform: rotate(-5deg);
   -moz-transform: rotate(-5deg);
   -o-transform: rotate(-5deg);
   transform: rotate(-5deg);
  /* Safari and Chrome */
}

 .icon{
  width: 90px;
  position: relative;
 left: 103px;
 bottom: -93px;
 text-align: center;
}

 .icon:hover {
zoom: 1;
        filter: alpha(opacity=10);
        opacity: 0.1;
        -webkit-transition: opacity .15s ease-in-out;
        -moz-transition: opactiy .15s ease-in-out;
        -ms-transition: opacity .15s ease-in-out;
        -o-transition: opacity .15s ease-in-out;
        transition: opacity .15s ease-in-out;
 }

 .span4 p {
  position: relative;
  left: -20px;
  width: 250px;
  text-align: center;
}

.span4 p:hover {
   transform: scale(0.9);
-ms-transform: scale(0.9); /* IE 9 */
-webkit-transform: scale(0.9); 
}

.content .firstcharacter { 
  float: left; 
  font-size: 100px; 
  line-height: 30px; 
  padding-top: 4px; 
  padding-right: 8px; 
  padding-left: 3px; 
}

.content a{
  text-decoration: underline;
}

.double-border{
  height:10px;
  border-top:1px solid black;
  border-bottom:1px solid black;
  margin-bottom:50px;
}

.info{
  width:100%;
  padding-bottom:25px;
}

.small-border{
  width:25px;
  border-top:1px solid black;
  height:30px;
}

.attending {
  background-image: url('../img/bag2.png') repeat;
}

.ramka {
  width: 300px;
  height: 260px;
  background-image: url('../img/ramka.jpg');
  margin: 20px 20px 20px 20px;
}

.break {
background: url(../img/border2.png) repeat-x;
padding:0 ;
margin:0;
margin-bottom: -30px;
}

.break {
position: relative;
left: 0;
bottom: 0;
display: block;
width: 100%;
height: 46px;
margin-left: -25px;
padding:0 0 0 0 ;
}

/*
.left-info p:first-child, .right-info p:first-child {
  font-size:9pt;
  line-height:9pt;
  text-transform: uppercase;
  font-family:"proxima-nova";
  font-weight:800;
  margin-bottom:5px;
}

.left-info p:last-child, .right-info p:last-child {
  font-style:italic;
}
*/

.left-header, .right-header {
  border-bottom:1px solid black;
  font-size:9pt;
  line-height:9pt;
  text-transform: uppercase;
  font-family:"proxima-nova";
  font-weight:800;
  padding-bottom:15px;
  margin-bottom:15px;
}

.left-header {
  width:150px;
}

.right-header {
  width:350px;
}

.left-info {
  float:left;
}

.right-info {
  float:right;
}

.left-header {
  width:150px;
}

.right-header {
  width:350px;
}

.left-content {
  font-style:italic;
}

.right-content {
  width:350px;
  font-size:12pt;
  line-height:16pt;
}

.right-content ul{
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 19px;
}

.panelists{
  float:left;
  padding-top:20px;
  width:100%;
}

.moderators{
  float:left;
  padding-top:20px;
  width:100%;
}

.left-content, .right-content {
  
}

/* Speakers Page */

.advisory-board-columns {
  padding-bottom:50px;
}

.advisory-board-columns div{
  float:left;
  width:223px;
  font-size:12pt;
  line-height:16pt;
}

.content.speakers{
  margin-top:80px;
  background: transparent;
  padding: 75px 0;
  font-size:16pt;
  line-height:22pt;
  letter-spacing:1px;
  z-index:99999;
/*  padding-bottom:0; */
}

.speakers-top-content{
  position:relative;
  z-index:999;
}

.speakers .container {
  width:890px;
}

.speakers .header {
  width:890px;
}

/*
.speakers .header .navigation-wrapper {
  margin:0 auto;
  width:890px;
}
*/

.speakers .header .navigation-wrapper {
  position:absolute;
  margin:0 auto;
  width:100%;
  left:0;
  right:0;
  height:55px;
  z-index:99999;
}

.speakers .header .navigation-wrapper {
  position:absolute;
  margin:0 auto;
  width:100%;
  left:0;
  right:0;
  height:55px;
  z-index:99999;
}

/*
.speakers .header .navigation-wrapper #navigation{
  padding-left:89px;
  padding-right:89px;
  z-index:9999;
}
*/

.speakers .container .header .logo a{
  opacity:0;
  margin-left:-100px;

}

.speakers .container .header .logo_alt a{
  opacity:1;
  margin-left:-100px;
}

#speakers{

}

.speaker{
  width:131px;
  margin-bottom:50px;
  float:left;
  padding-right:20px;
  height:225px;
}

.speaker.last{
  padding-right:0;
}

.speaker img{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  cursor:pointer;
}

.speaker img:hover{
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

.speaker.selected img {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

.speaker-name {
  font-family:"proxima-nova";
  font-weight:800;
  font-size:12pt;
  line-height:16pt;
  position:relative;
}

.speaker-title {
  font-style: italic;
  font-size:12pt;
  line-height:16pt;
  letter-spacing:0px;
  position:relative;
}

.speaker-description {
  display:none;
}

#speaker-description {
  position:absolute;
  width:100%;
  left:0;
  right:0;

  background-color:#CCE0C0;
  padding:50px 0px;
  z-index:999;
  margin-bottom:0px !important;
}

.speaker-description-inner {
  width:890px;
  margin:0 auto;
}

.left-desc, .right-desc {
  float:left;
  width:425px;
}

.column > * { padding:0px 20px }

/* More Info Page */

.more-info-content {
  border-bottom:1px solid black; 
  padding-bottom:25px;
}

.sponsors{
  margin-top:50px;
}

.sponsor{
  width:131px;
  margin-bottom:29px;
  float:left;
  padding-right:29px;
  height:132px;
}

.sponsor.last{
  padding-right:0;
}

/* Schedule Page */
.schedule-nav{
  position:fixed;
  margin-left:-55px;
  margin-top:300px;
  border-right:1px solid black;
  padding:20px 0;
}

.schedule-nav-item{
  width:54px;
  height:54px;
}

.schedule-nav-item.one{
  background:#D3DB95;
}

.schedule-nav-item.two{
  background:#CCE0C0;
}

.schedule-nav-item.three{
  background:#A2DEDD;
}

.schedule-nav-item .month{
  text-align:center;
  font-family:'proxima-nova';
  text-transform: uppercase;
  font-size:10px;
  padding-top:8px;
}

.schedule-nav-item .day{
  text-align:center;
  font-size:24pt;
}

.callout{
  font-size:12pt;
  padding-bottom:30px;
}

/* Global */

#carousel-wrapper{
  position:absolute;
  left:0;
  width:100%;
  z-index:2;
  margin:0 auto;
/*  height:500px; */
  overflow:hidden;
  padding-top:50px;
  background: url("..img/bag4.png");
}

#carousel {
  
}

.slides {
  overflow:visible !important;
}

#carousel .item{
  width:340px;
  display:block;
  float:left;
  margin:20px;
  font-size:12pt;
  line-height: 12pt;
}

#carousel .item.one{
  background: #A2DEDD;
}

#carousel .item.two{
  background: #CCE0C0;
}

#carousel .item.three{
  background: #D3DB95;
}

#carousel .item .item-content{
  padding:35px;
}

#carousel .item .item-content p{
  font-style: italic;
}

#carousel .item .item-content .quote-name {
  text-align:right;
  font-weight:bold;
  text-transform: uppercase;
}

#carousel .item .item-content .quote-title {
  text-align:right;
  font-weight:bold;
}

.footer-wrapper{
  width:100%;
  border-top:1px solid black;
  background-image: url(..img/bag3.png);
}

.footer {
  width:800px;
  margin:0 auto;
  padding:50px 0;
  display:block !important;
  font-size:11pt;
  background-image: url(..img/bag3.png);
}

.footer-logo{
  float:left;
  width:88px;
}

.footer-right {
  float:right;
  width:712px;
}

.footer-top {
  width:586px;
  float:left;
  font-size:11pt;
  text-transform: uppercase;
  font-family:"proxima-nova";
  font-weight:800;
  letter-spacing: 2px;
  padding-bottom:20px;
  float:right;
}

.footer-bottom {
  border-top:1px solid black;
  text-align:right;
  width:586px;
  padding-top:20px;
  float:right;
}

.footer-bottom-left{
  float:left;
}

.footer-bottom-right{
  float:right;
  letter-spacing: 0;
}

.footer .navigation{
  list-style-type: none;
}

.footer .navigation li{
  float:left;
  width:178px;
  text-align:right;
  font-size:11pt;
  text-transform: uppercase;
  font-family:"proxima-nova";
  font-weight:800;
  letter-spacing: 2px;
  padding:20px 0;
}

.footer-logo a{
  width:89px;
  height:96px;
  background:url(-/img/footer-logo.png);
  text-indent:-9999px;
  cursor:pointer;
  display:block;
}

/* Clearfix */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}
  
  
/* $hd support
--------------------------------------------- */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (-moz-min-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (min-device-pixel-ratio: 2) {
}